*{
	margin: 0px;
	padding: 0px;
}
.container{
	width: 1140px;
	margin: 0 auto;
}
header {
    background-color: white;
    padding: 3% 0% 0%;
    border-bottom: 5px solid #e4e4e4;
}
.one img {
    width: 70%;
    height: 70%;
}
.breadcrumb {
    background: none;
}
.breadcrumb-item {
    padding: 0px 32px;
}
section {
    width: 100%;
    float: left;
    background-color: #ee4a3f;
    padding: 35px 0px;
}
.two h2 {
    color: white;
}
.two img {
    width: 90%;
    margin: 10px 0px;
}
.two p {
    color: white;
}
.four img {
    width: 80%;
    margin: 20px 0px;
}
.pera p {
    color: white;
    margin: 0px;
}
.from-control {
    width: 90%;
    padding: 15px 0px;
    background-color: #ff6258;
    border: none;
    margin-bottom: 5%;
}
.btn {
    margin-top: 50%;
    background-color: initial;
    border: none;
    font-size: 170%;
}
footer {
    width: 100%;
    float: left;
    background-color: #ef4035;
    padding: 2% 0px 1%;
    text-align: center;
}
footer p {
    color: white;
}