*{
	margin: 0px;
	padding: 0px;
}
.container{
	width: 1140px;
	margin: 0 auto;
}
header {
    width: 100%;
    float: left;
    background: url(../img/img1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0px 120px;
}
.one img {
    width: 405px;
    display: block;
    margin: 0 auto;
}
.breadcrumb {
    background: none;
}
.breadcrumb-item {
    padding: 0px 50px;
    font-size: 25px;
}
a {
    color: white;
    text-decoration: none;
    background-color: transparent;
}
.three{

}
.three h2 {
    background-color: #363735;
    color: white;
    text-align: center;
    font-size: 47px;
    margin: 115px 0px 10px;
}
.three p {
    color: white;
    font-size: 15px;
    margin: 0px 0px 75px;
}
.underline {
    border-bottom: 1px solid #6e6e6b;
    display: block;
    margin: 0px 0px 40px;
    width: 7%;
}
.btn {
    background-color: initial;
    border-color: white;
    padding: 10px 70px;
}
.banner {
    width: 100%;
    float: left;
    background-color: #f6f6f6;
    padding: 165px 0px 40px;
}
.contant{

}
.contant h2 {
    font-size: 38px;
    color: #333333;
    padding: 0px 0px 10px;
}
.contant p {
    color: #888888;
}
.parent {
    width: 100%;
    position: relative;
    background: url(../img/rectangle.png);
    height: 133%;
    background-size: 105%;
    background-repeat: no-repeat;
}

.child {
    width: 70%;
    position: absolute;
    background: url(../img/car1.png);
    height: 70%;
    background-repeat: no-repeat;
    background-size: 65%;
    left: 45%;
    top: 13%;
}

.b-two {
    background-color: #28282e;
    padding-bottom: 5%;
}
.head h2 {
    font-size: 43px;
    color: white;
    margin-top: 15%;
}
.pera p {
    color: #b7b7b9;
}
.imeg img {
    width: 90%;
}
.btn-one {
    margin: 25px 0px 0px;
    background-color: initial;
    border-color: white;
    padding: 5px 15px;
}
footer {
    width: 100%;
    float: left;
    background-color: #ef4035;
    padding: 2% 0px 1%;
    text-align: center;
}
footer p {
    color: white;
}